{{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.slug) }}
        
        <button class="btn">{{ button_label|default('Save') }}</button>

    {{ form_end(form) }}
