{% extends 'base.html.twig' %}

{% block title %}{{ size.name }}{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ size.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ size.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_size_index') }}">back to list</a>

    <a href="{{ path('admin_size_edit', {'id': size.id}) }}">edit</a>

    {{ include('admin/size/_delete_form.html.twig') }}
{% endblock %}
